	.calculator {
	  border: 1px solid #cccccc;
	  margin: 50px 0 0;
	  padding: 15px;
	}
	
	.button-calc .btn,
	.button-calc .cat {
	  width: 23%;
	  display: block;
	  float: left;
	  padding: 0;
	  margin: 0 1% 5px;
	  font-size: 18px;
	  padding: 12px 0;
	}
	
	#history-panel {
	  margin: 50px 0 0;
	}
	
	.cat {
	  display: inline-block;
	  padding: 6px 12px;
	  margin-bottom: 0;
	  font-size: 14px;
	  font-weight: 400;
	  line-height: 1.42857143;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	  touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  background-image: none;
	  border: 1px solid transparent;
	  border-color: #ccc;
	  border-radius: 4px;
	  background: #ffffff url(../cat.jpg) no-repeat center
	}
	
	.cat.focus,
	.cat:focus,
	.cat:hover {
	  color: #333;
	  text-decoration: none;
	  cursor: default;
	  background-color: #ffffff;
	}
	
	.cat:hover {
	  color: #333;
	  background-color: #ffffff;
	  border-color: #ccc;
	}
	
	.cat.btn-default:active {
	  color: #333;
	  background-color: #ffffff;
	  border-color: #ccc;
	}